<div>
    <div class="item">{{:data.var1}}</div>
    <div class="item">{{:data.var2}}</div>
    <div class="item">{{:data.var3}}</div>
    <div class="item">{{:data.var4}}</div>
    <div class="item">{{:data.var5}}</div>
    <div class="item">{{:data.var6}}</div>
    <div class="item">{{:data.var7}}</div>
    <div class="item">{{:data.var8}}</div>
    <div class="item">{{:data.var9}}</div>
    <div class="item">{{:data.var10}}</div>
    <div class="item">{{:data.var11}}</div>
    <div class="item">{{:data.var12}}</div>
    <div class="item">{{:data.var13}}</div>
    <div class="item">{{:data.var14}}</div>
    <div class="item">{{:data.var15}}</div>
    <div class="item">{{:data.var16}}</div>
</div>
